/.idea
/.idea/*
!.gitignore
classes/*
/.DS_Store
.Ds_Store
*.sublime-workspace
templates/
*.pyc
__pycache__/
*.model
*.vector

/model/*
model/*
model/

data/
data/*
/data/*
uwsgi.log

.record
*.jpg
*.png

*.pickle





